  body{
    font-family: 'Poor Story';
    background-color: #fff0f5;
  }

  .top{
      height: 600px;
      text-align: center;
      background-color: #ffe4e1;
      padding: 25px;
      margin: 0 auto;
      color: #add8e6;
      font-size: 50px;
      font-weight: bold;
      position: relative;
  }

  .introduce{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 13%;
    width: 500px;
    height: 300px;
    text-align: center;
    padding-top: 90px;
    line-height: 100px;
    border: 5px solid #fff0f5;
  }

  .introduce_photo{
    z-index: 2;
  }

  .introduce_photo1{
    position: absolute;
    top: 17%;
    left: 37%;
    opacity: 0.9;
  }

  .introduce_photo2{
    position: absolute;
    top: 10%;
    left: 50%;
    opacity: 0.9;
  }

  .introduce_photo3{
    position: absolute;
    top: 15%;
    left: 65%;
    opacity: 0.9;
  }


  .main{
    width: 1000px;
    height: 2000px;
    border: 5px solid #1e90ff;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    padding: 25px;
    color: #191970;
    font-size: 20px;
  }

  .menu{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
    height: 50px;
    color: #191970; 
    text-align: left;
  }

  .profile{
    border: 5px solid #add8e6;
    width: 1000px;
    height: 350px;
    margin: 0 auto;
  }

  .profile .photo{
    width :300px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }

  .profile .mylist{
    color: #191970;
    font-size: 20px;
    padding: 22px;
    text-align: left;
    margin-right: 10px;
    float:left;
  }