  body{
    font-family: 'Poor Story';
    background-color: #87cefa;
  }

  .name{
      width: 1000px;
      height: 70px;
      text-align: left;
      border: 5px solid #1e90ff;
      margin-top: 50px;
      padding: 25px;
      margin: 0 auto;
      border-radius: 20px;
      color: #191970;
      font-size: 50px;
      font-weight: bold;
  }

  .main{
    width: 1000px;
    height: 2000px;
    border: 5px solid #1e90ff;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    padding: 25px;
    color: #191970;
    font-size: 20px;
  }

  .menu{
    margin: 0 auto;
    margin-top: 30px;
    width: 1000px;
    height: 50px;
    color: #191970; 
    text-align: left;
  }

  .profile{
    width: 1000px;
    height: 350px;
    margin: 0 auto;
  }

  .profile .photo{
    width :300px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }

  .profile .mylist{
    color: #191970;
    font-size: 20px;
    padding: 22px;
    text-align: left;
    margin-right: 10px;
    float:left;
  }